header {
    background-color: rgb(54, 123, 191);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 140px;
}
body {
    height: 100%;
    background-color: rgb(250, 251, 251);
    margin: 0;
    font-family: "Segoe UI", sans-serif;
}


.logo {
   color: rgb(255, 255, 255);

}
.menu a {
   color: rgb(255, 255, 255);
   margin: 0px 15px 0px;
}
a:link {
  text-decoration: none;
}
.logo h1 {
  margin: 0;
  font-size: 36px;
}
.logo h2 {
  margin: 0;
  font-size: 18px;
  margin: 0px 0px 15px
}
.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  padding: 40px;
}


main {
  flex: 1 1 auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
  padding: 20px;
  width: 400px;
  margin: 30px;
}
.card img {
  width: 280px;
  height: 280px;
  mix-blend-mode: multiply; 
  background-color: transparent;  
  overflow: hidden; 
  object-fit: cover;
}
#Xiomi{
  filter: brightness(1.2) saturate(2) contrast(1.2); 
  mix-blend-mode: multiply; 
  background-color: transparent; 
  overflow: hidden; 
  object-fit: cover;
}
button {
  background-color: #3a7bd5;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 18px;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #2f68c0;
}
footer {
  background-color: #f3f3f3;
  padding: 20px 60px;
  font-size: 14px;
  color: #333;
}

.footer-container {
  display: flex;
  justify-content: space-between; /* розкидує ліву і праву частину */
  align-items: center;
  flex-wrap: wrap; /* щоб гарно виглядало на телефонах */
}

.footer-left p {
  margin: 4px 0;
}

.footer-right a {
  color: #000000;
  text-decoration: none;
  margin-left: 20px;
}

.footer-right a:hover {
  text-decoration: underline;
}
